.navbar {
    background: var(--dark);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    color: var(--main-red) !important;
    transition: 0.4s;
    font-weight: bold;
    font-size: 3.5rem !important;
}

.nav-item .nav-link {
    color: var(--white);
    font-size: 1.5rem;
}

.bag {
    position: relative;
    display: flex;
}

.bag svg {
    font-size: 2rem;
}

.bag span {
    position: absolute;
    top: 0;
    right:18px;
    transform: translate(140%, 2px);
    width: 20px;
    height: 20px;
    background-color: var(--main-white);
    color: var(--main-red);
    font-weight: 700;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}