@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark: #001219;
    --main-white: #f5fbff;
    --white: #fff;
    --main-red: #d90429;
}

body {
    background-color: var(--main-white) !important;
    font-family: "Saira Condensed", sans-serif;
}