.card {
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgb(201, 199, 199);
    transition: 0.5s;
}

.card:hover {
    border: 2px groove rgba(0, 0, 0, 0.5);
}

.card-text {
    font-size: 18px;
    color: var(--dark);
}

img{
    width: 220px;
    height: 240px;
}

.price {
    background-color: var(--dark);
    font-size: 19px;
    color: var(--white);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.number {
    background-color: var(--dark);
    color: var(--white);
    font-family: monospace;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;

}